DATABASE_URL=mysql://root:@localhost:3306/educonecta
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret-local-test-123

# Supabase (opcional para migración)
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
